<!DOCTYPE html>
<html>
<head>
    <title>fastapi</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"  href="{{ url_for('static', path='/styles.css') }}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/details-more.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css' rel='stylesheet'>

</head>
<body>
    {% include "header.html" %}
    <div>
        {% for item in cart %}
            <p> id:{{item.id}} header:{{item.header}} price:{{item.price}}</p>
        {% endfor %}
        <input type="submit" class="button-28" value="bying" onclick="window.location.href = '/byingcart'" /><br />
    </div>
</body>