body {
  	margin: 0px;
  	padding: 0px; 
	background-color: white;
	
}
.nameMoney {
	margin-bottom: 10px;
}
.label_reg{
	float: left;
	margin-bottom: 10px;
}
.button_reg{
	float: right;
	margin-bottom: 10px;
}
.price {
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 30px;
	padding: 0px;
}
.byinglabel {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin-top: 40px;
	margin-right: 40px;
	height: 60px;
}
.headerAuth{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.headertext {
	text-align: center;
	color: rgb(103, 103, 103);
}
.headerMain {
	background-color: white;
	position: relative;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}
.user, .logout {
	display: flex;
	flex-direction: row;
}
.categories{
	display: flex;
	flex-direction: column;
}
.gg-details-more{
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	align-self: center;
}
a{
	color: #8d8176;
	text-decoration: none;
}
a:hover{
	color: #8d8176;
	text-decoration: none;
}
a:visited{
	color: #8d8176;
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
.authreg {
	font-size: 32px;
	padding: 5px;
}
.headerAuth > div > a,span,i{
  font-size: 32px;
  color: rgb(103, 103, 103);
  text-decoration: none;
  padding: 5px;
}

.headerAuth > div > a:hover,span:hover, i:hover{
  font-size: 32px;
  color: black;
  text-decoration: none;
  padding: 5px;
}
.headerMain > a, span {
  
  font-size: 32px;
  color: black;
  text-decoration: none;
}
.form_inner {
	justify-content: center;
	margin-left: auto !important;
	margin-right: auto !important;
}
.adminForm {
	
	margin-bottom: 5px;
}
.registration, .login{
	position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
}

.form_inner, .post, .login, .registration{
	cursor: pointer;
	display: flex;
  	flex-direction: column;
  	width: 300px;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  	border-radius: 10px;
  	padding: 10px;
  	margin: 10px;
  	background-color: white;
  	
}
.products{
	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;	
}
.mainDescription {
	display: flex;
  	flex-direction: row;	
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.product {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  	border-radius: 10px;
  	padding: 10px;
  	margin: 10px;
  	background-color: white;	
}
.sucessful, .profile{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  	border-radius: 10px;
  	padding: 10px;
  	margin: 10px;
  	background-color: white;	
}
.profile {
	width: 220px;

	margin-left: auto;
	margin-right: auto;
}
.byingProfile {
	width: 200px;
}
input[type="number"] {
	border: 2px solid #1A1A1A;
  	border-radius: 5px;
}
.show {
	display: flex;
  flex-direction: column;	
	position: absolute;
	margin: 0px;
	padding: 0px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: white;
	width: 500px;
	height: 100vh;
	z-index: 2;
}
.categories {
	margin-left: 20px;
}
.show > h1{
	margin-left: 30px;

}
.categories > a{

	margin-bottom: 20px;
}
.categoriesShop, .choices {
	font-size: 40px;
	height: 200px;
	display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
	flex-direction: row;
	justify-content: space-around;
}
.categoriesShop, .choices > div {
	padding-top: 40px;
	padding-bottom: 40px;
}
.choicesRegLog {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.descriptionProduct{
	margin-left: 20px;
}
.gg-shopping-cart {
  transform: scale(var(--ggs,1.4)) !important;
  align-self: center;
  margin-left: 10px;
}
